* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    background-color: #333;
    color: #eee;
    font-family: Arial;
}

img {
    background: transparent;
}

a {
    text-decoration: none;
}
